<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>myhome</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 컨텍스트 파라미터 -->
  <context-param>
  	<param-name>dbuser</param-name>
  	<param-value>himedia</param-value>
  </context-param>
   <context-param>
  	<param-name>dbpass</param-name>
  	<param-value>himedia</param-value>
  </context-param>
  
  <!-- 정적 파일(js, css) 서비스를 위한 default 서블릿 매핑-->
  <servlet-mapping>
	<servlet-name>default</servlet-name><!-- 컨테이너 내장 서블릿 --> 
	<url-pattern>/css/*</url-pattern> 
  </servlet-mapping>
</web-app>